html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    background: url(images/backgroundImage.jpg) top/cover no-repeat fixed;
    font-size: 12px;
    line-height: 12px;
    color: #666;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.allBody{
    height: 100%;
}

