body{
    background: url(//s1.hdslb.com/bfs/static/blive/blfe-message-web/static/img/infocenterbg.a1a0d152.jpg) top/cover no-repeat fixed;
    font-size: 12px;
    line-height: 12px;
    color: #666;
    padding: 0;
    margin: 0;
}
